/* src/Navbar.css */

.navbar {
    background-color: #333;
    color: white;
    padding: 10px;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    margin-right: 20px;
    cursor: pointer;
  }
  
  /* .navbar li:last-child {
    margin-right: 0;
  } */
  
  .credit{
    margin-left: 70%;
    color: teal;
  }

  @media screen and (max-width: 768px) {

    .credit{
      margin-left: 15%;
      color: teal;
      font-size: 15px;
    }
  }